<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PersistenciaDestino" value="Memory"/>
	</appSettings>
	<connectionStrings>
		<add name="Memory"
			 connectionString="QuoteDB"/>
		<add name="SQLServer"
			 connectionString="Data Source=DESKTOP-3AQ862B;Initial Catalog = QuoteDB;Integrated Security=True"
		/>
		<add name="PostgresEscuela"
		   connectionString="Host = localhost;Database = QuoteDB;Username = postgres;Password = root"
		/>
	</connectionStrings>
</configuration>